
.DS_Store
.DS_Store
annotated-transformer/.ipynb_checkpoints/test-checkpoint.ipynb
annotated-transformer/.ipynb_checkpoints/The Annotated Transformer-checkpoint.ipynb
annotated-transformer/iwslt.pt
annotated-transformer/.idea/other.xml
annotated-transformer/.idea/annotated-transformer.iml
annotated-transformer/.idea/inspectionProfiles/profiles_settings.xml
annotated-transformer/.idea/misc.xml
annotated-transformer/.idea/modules.xml
.DS_Store
.DS_Store
